<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->

@using Resources

 
<h2>API Samples</h2>

<h3>@Html.ActionLink(Resource.GraphAPI, "Index", "Graph")</h3>
<p>Send email using your Microsoft account</p>
<h3>@Html.ActionLink(Resource.EWSAPI, "Index", "EWS")</h3>

<p>Send email using your Exchange account</p>
<h3>@Html.ActionLink(Resource.GmailAPI, "Index", "Gmail")</h3>
<p>Send email using your Gmail account</p>
<h3>@Html.ActionLink(Resource.SalesforceAPI, "Index", "Salesforce")</h3>
<p>SalesforceAPI </p>
 