 
<h2>API Samples</h2>

<h3>@Html.ActionLink( "Graph API", "Index", "Graph")</h3>
<p>Send email using your Microsoft account</p>
<h3>@Html.ActionLink("EWS API", "Index", "EWS")</h3>

<p>Send email using your Exchange account</p>
<h3>@Html.ActionLink("Gmail API", "Index", "Gmail")</h3>
<p>Send email using your Gmail account</p>
<h3>@Html.ActionLink("Salesforce API", "Index", "Salesforce")</h3>
<p>SalesforceAPI </p>
 